.form {
    display:flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: none;
    border-radius: 0;
    padding: 5%;
    font-size: 10px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }